@model fish_gallery.Models.Image

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <img src=@Html.DisplayFor(model => model.imagePath) alt="Image" class="fish-image" />

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { id_fish = Session["id_fish"] })
</p>
